*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100vh; }

.glyphicon-menu-hamburger {
  font-size: 40px;
  color: white; }

.navbar {
  position: absolute;
  right: 70px;
  top: 20px;
  z-index: 1; }

.choose-your-header {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 3vw;
  letter-spacing: 2px; }
  @media screen and (max-width: 769px) {
    .choose-your-header {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%); } }

.adventure-header {
  position: absolute;
  top: 20%;
  left: 51%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 6vw;
  letter-spacing: 16px; }
  @media screen and (max-width: 769px) {
    .adventure-header {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%); } }

.splash-logo img {
  height: 3vw;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-30%, -30%);
  z-index: 1; }
  @media screen and (max-width: 769px) {
    .splash-logo img {
      height: 8vw;
      margin-left: 10%;
      top: 5%; } }

.left {
  float: left;
  background-size: cover;
  background: url("../img/brown-cover.jpg");
  width: 33.33%;
  height: 100vh; }

.center {
  float: left;
  background-size: cover;
  background-image: url("../img/boy-woods-photo.jpg");
  width: 33.33%;
  height: 100vh; }

.right {
  float: right;
  background-size: cover;
  background-image: url("../img/girl-fire-photo.jpg");
  width: 33.33%;
  height: 100vh; }

.content img {
  display: block;
  margin: 0 auto;
  height: 110px;
  margin-bottom: 5px; }

.book-cover {
  margin: 0 auto;
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.button {
  font-size: 2vw;
  margin: 0 auto;
  text-align: center;
  color: white;
  height: 7vh;
  width: 25vw;
  text-align: center;
  line-height: 7vh;
  border-width: 2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.trackers-bay-area {
  background: #C44533;
  background: #c44533;
  border-style: Solid;
  border-color: #E6E0CE;
  border-color: #e6e0ce; }

.trackers-portland {
  background: #478398;
  background: #478398;
  border-style: Solid;
  border-color: #E6E0CE;
  border-color: #e6e0ce; }

.trackers-books {
  background: #6D8538;
  background: #6d8538;
  border-style: Solid;
  border-color: #E6E0CE;
  border-color: #e6e0ce; }

.left, .center, .right {
  position: relative; }

.content {
  position: absolute;
  bottom: 5%;
  left: 12.5%; }

@media screen and (max-width: 769px) {
  .wrapper {
    display: none; } }

.contentawesome {
  background-image: url("../img/girl-fire-photo.jpg");
  background-size: cover;
  height: 52vh; }

.brown-space {
  width: 100%;
  height: 3vh;
  background-color: brown; }

.mobile-image img {
  position: absolute;
  max-width: 20%;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 769px) {
    .mobile-image img {
      max-height: 50%; } }

.mobile-trackers-portland {
  color: white;
  width: 160px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%); }

.blue-trackers {
  width: 100%;
  height: 15vh;
  background: #478398;
  background: #478398;
  position: relative; }

.red-trackers {
  width: 100%;
  height: 15vh;
  background: #C44533;
  background: #c44533;
  position: relative; }

.green-trackers {
  width: 100%;
  height: 15vh;
  background: #6D8538;
  background: #6d8538;
  position: relative; }

@media screen and (max-width: 769px) {
  .splash-mobile-nav {
    position: absolute;
    right: 20px; } }

@media screen and (max-width: 769px) {
  .mobile-dropdown {
    position: absolute;
    left: -120px; } }

@media screen and (min-width: 769px) {
  .wrapper-mobile {
    display: none; } }

/*# sourceMappingURL=main.css.map */
